<mat-card>
    <div class="flex-row">
        <mat-form-field>
            <mat-label>Month</mat-label>
            <mat-select [formControl]="monthSelect">
                <mat-option value="0">January</mat-option>
                <mat-option value="1">February</mat-option>
                <mat-option value="2">March</mat-option>
                <mat-option value="3">April</mat-option>
                <mat-option value="4">May</mat-option>
                <mat-option value="5">June</mat-option>
                <mat-option value="6">July</mat-option>
                <mat-option value="7">August</mat-option>
                <mat-option value="8">September</mat-option>
                <mat-option value="9">October</mat-option>
                <mat-option value="10">November</mat-option>
                <mat-option value="11">December</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 90px;">
            <mat-label>Year</mat-label>
            <mat-select [formControl]="yearSelect">
                <mat-option *ngFor="let year of yearSelectDataSource" value="{{year}}">{{year}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>User</mat-label>
            <mat-select [formControl]="userSelect">
                <mat-option *ngFor="let setting of userSettings | async" value="{{setting.userId}}">
                    {{setting.displayName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let row;"> {{row.date | date:'dd.MM.yyyy'}} </td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let row;"> {{row.amount}} </td>
            <td mat-footer-cell *matFooterCellDef>
                <strong>{{ calculateTotal(dataSource | async) }}</strong>
            </td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let row;"> {{row.catId | categoryPipe}} </td>
            <td mat-footer-cell *matFooterCellDef> <strong>Total</strong> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
    </table>

</mat-card>