<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>{{title}}</span>

        <div class="fill-remaining-space"></div>

        <div *ngIf="afAuth.user | async as user; else elseLoader">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <img class="avatar" width="32" height="32" [src]="user.photoURL">
            </button>

            <mat-menu #menu="matMenu">
                <span mat-menu-item disabled>{{user.displayName}}</span>
                <a mat-menu-item routerLink="/">
                    <mat-icon>home</mat-icon> Home
                </a>
                <a mat-menu-item routerLink="/stats">
                    <mat-icon>notes</mat-icon> Stats
                </a>
                <a mat-menu-item routerLink="/settings">
                    <mat-icon>settings</mat-icon> Settings
                </a>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon> Logout
                </button>
            </mat-menu>
        </div>

        <ng-template #elseLoader>
            <div class="header-loader" *ngIf="loading">
                <mat-spinner color="accent" diameter="36"></mat-spinner>
            </div>
        </ng-template>

    </mat-toolbar-row>
</mat-toolbar>

<div class="content" *ngIf="afAuth.user | async as user; else loginOptions">
    <router-outlet></router-outlet>
</div>

<ng-template #loginOptions>
    <div *ngIf="!loading">
        <p>Login options:</p>
        <button mat-raised-button (click)="login()">Login with Google</button>
    </div>
</ng-template>